@use 'variaveis';

.header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.9); 
    transition: background-color .5s ease;
    z-index: 1000;

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            padding: 0 12px 0 20px;
        }
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;

        @media (max-width: 768px){
            max-width: 64px;
        }
    }

    &__links {
        display: flex;

        &__item {
            margin: 5px;
        }
    }

    .button {
        height: 50px;
        background-color: #666;
        color: #fff;
        border: none;
        border-radius: 4px;
        text-transform: uppercase;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background-color: #555;
        }

        &--secondary {
            background-color: #999;

            &:hover {
                background-color: #888;
            }
        }

        &--dark {
            background-color: rgba(51, 51, 51, 0.8);
            color: #fff;

            &:hover {
                background-color: #fff;
                color: #000;
            }
        }

        @media (max-width:768px){
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}
