@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;

    &__tabs {
        display: flex;
        justify-content: center;

        @media (max-width: 768px){
            white-space: nowrap;
            overflow-x: scroll;
            padding-left: 20px;
        }

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;
            
            &--is-active {
                border-color: variaveis.$corTextoSecundario;
            }

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 16px;
        padding: 5.6vw 0;
        margin-top: 44px;

        li {
            border-radius: 8px;
            overflow: hidden;

            img {
                width: 100%;
                display: block;
                border-radius: 8px;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        &--is-active {
            display: grid;
        }
    }
}